/*
Twitter Theme
created by Fransiscus Emmanuel Bunaren
1806173506
*/

body{
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
    margin: auto;
    font-size: 16px;
    word-wrap: break-word;
    background-color: #e7e7e7;
}

.block{
    background-image: linear-gradient(#1da1f3,#71c9f7);
    border: 1px solid;
    color:white;
    padding-left : 10px;
    word-wrap: break-word;
}

.white{
    background-color: white;
    padding-left : 10px;
    background-color: white;
    box-shadow: 5px 5px 8px 5px #888888;
    word-wrap: break-word;
}

.shadow{
    background-color: white;
    box-shadow: 5px 5px 8px 5px #888888;
    word-wrap: break-word;
}
