{% load static %}

<!-- CSS Theme by Fransiscus Emmanuel Bunaren -->
<link rel="stylesheet" href="static/css/style.css"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tweaky | Created by Fransiscus Emmanuel Bunaren</title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oxygen&display=swap" rel="stylesheet">

<a href='' style="color:white;">
<div class="block shadow">
    <img src="/static/img/logo.webp" width="50px" style="padding-right:10px;padding-top:10px;"></img>
    <h1 style="display:inline-block;">Tweaky</h1>
    <h2 style="display:inline-block;">Created by Fransiscus Emmanuel Bunaren</h2>
</div>
</a>

<div class="white" style="padding:10px;margin-top:10px;">
    <h3>Are you sure that you want to post this status?</h3>
    <li/> Name : {{ name }}
    <li/> Status : {{ msg }}
    <form method="POST" action="/">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ name }}"></input>
    <input type="hidden" name="msg" value="{{ msg }}"></input>
    <br/><br/>
    <input type="submit" value="Yes" class="block" style="font-size:20px;" id="yes_btn"></input>
    </form>
    <a href="/"><button class="block" style="font-size:20px;" id="no_btn">No</button></a>
</div>

