{% load static %}

<!-- CSS Theme by Fransiscus Emmanuel Bunaren -->
<link rel="stylesheet" href="static/css/style.css"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tweaky | Created by Fransiscus Emmanuel Bunaren</title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oxygen&display=swap" rel="stylesheet">

<a href='' style="color:white;">
<div class="block shadow">
    <img src="/static/img/logo.webp" width="50px" style="padding-right:10px;padding-top:10px;"></img>
    <h1 style="display:inline-block;">Tweaky</h1>
    <h2 style="display:inline-block;">Created by Fransiscus Emmanuel Bunaren</h2>
</div>
</a>

<div class="white" style="padding:10px;margin-top:10px;">
    <h3>Hello, how are you?</h3>
    <form method="POST" action="confirm.html">
    {% csrf_token %}
    {{ form }}
    <br/><br/>
    <input type="submit" value="▶ Tweet" class="block" style="font-size:20px;" id="submit"></input>
    </form>
</div>

<br/>
<div class="block shadow" style="margin:0px;">
    <big style="display:inline-block;font-size:26px;">Recent Tweets</big>
    &nbsp;<button onclick="change()" style="font-size:20px;">Challenge (Change Color)</button>
</div>
<div class="white" style="padding:10px;">
    {% for status in statuses %}
        <img src="/static/img/profile.png" width="50px" style="float:left; border:3px solid #888888;"></img>
        <h3 style="vertical-align: middle;display:inline-block;">
            &nbsp;&nbsp; {{ status.name }}
            &nbsp;<br/>&nbsp;
        </h3>
        <br/>
        Status : <font name="sts">{{ status.msg }}</font>
        <hr/>
    {% endfor %}
</div>

<script>
function change(){
    tmp = document.getElementsByName("sts");
    for (i=0;i<tmp.length;i++){
        tmp[i].color="red";
    }
}
</script>